.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header_content h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header_content p{
    color: white;
    font-size: 1vw;
}

.header_content button{
    font-size: 16px;
    background-color: rgb(241, 239, 238);
    color: rgb(41, 39, 39);
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}